
<%= render 'shared/content_title', title: @ticket.name %>

<p>
  <%= @ticket.body %>
</p>

<strong>Tags: </strong>
<span><%= comma_separated_tags(@ticket) %></span>

<br/>
<br/>
<%= link_to 'Edit', edit_ticket_path(@ticket) %>

<br/>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <td> **ticket_creator </td>
      <td><%= @ticket.assignee %></td>
    </tr>
  </tbody>
</table>

