
<%= render 'shared/content_title', title: 'Projects' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Open Tickets</th>
      <th>Total Tickets</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <strong><a><%= link_to project.name, project_path(project) %></a></strong><br/ >
          <%= project.description %>
        </td>
        <td><%=  open_ticket_count(project) %></td>         
        <td><%= project.tickets.size %></td>
      </tr>     
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New Project', new_project_path %>