
<%= render 'shared/content_title', title: 'Tags' %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Tickets</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% alphabetical(@tags).each do |tag| %>
      <tr>
        <td><%= tag.name.titleize %></td>
        <td><%= link_to tag.tickets.size, tickets_path(tag: tag.id) %></td>
        <td>
          <%= link_to 'Edit', edit_tag_path(tag) %> or 
          <%= link_to 'Delete', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to 'New Tag', new_tag_path %>