<nav>
  <div>
    <span><strong>Ticketing</strong></span>
    <a><%= link_to 'Projects', projects_path %></a>
    <a><%= link_to 'Tickets', tickets_path %></a>
    <a><%= link_to 'Tags', tags_path %></a>
  </div>


  <% if session[:user_id] %>
    <div>
      signed in as <strong><%= current_user.name %></strong>
      <%= link_to 'Log Out', logout_path %>
    </div>
  <% else%>
    
    <div>
      <%= link_to 'Login', login_path %> or
      <%= link_to 'Signup',  register_path %>
    </div>

  <% end %>
</nav>

<hr />